RewriteEngine on
RewriteBase /
#########################################################################

#########################################################################
RewriteRule ^template/(.*) template/$1 [L]
RewriteRule ^web/(.*) web/$1 [L]
RewriteRule ^app/(.*) app/$1 [L]
RewriteRule ^phpmyadmin/(.*) phpmyadmin/$1 [L]
#########################################################################

#########################################################################

RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ $1/$2/?param1=$3 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ $1/$2/?param1=$3 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ $1/$2/?param1=$3&param2=$4 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ $1/$2/?param1=$3&param2=$4 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)$ $1/$2/?param1=$3&param2=$4&param3=$5 [L]
RewriteRule ^([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/([A-Za-z0-9-]+)/$ $1/$2/?param1=$3&param2=$4&param3=$5 [L]

RewriteRule ^$ nameOfY
RewriteRule ^(.+) web/app.php [QSA]